.microsoft-logo{
    width: 108px;
}
.nav-item{
    color: #262626;
    font-size: 12px;
}
.navbar{

    height: 80px;
}
.sec-1-title{
    color: #0067b8;
}
.sec1-img{
    width: 40px;
   
}
.sec-1-items{
    width: 100%;
}
.shp-img,.shop-items,.item{
    width: 95%;
}
.learn-more{
    font-size: 18px;
    text-decoration: none;
}
.learn-more:hover{
   text-decoration: underline;
}
.img-items{
    background-image: url();
    background-size: cover;
    width: 100%;
    height: 100%;
}
.large-img{
    width: 90%;
    /* position:relative; */
}
.img-text{
    /* position: absolute; */
    left: 10%;
}
/* .shop-img{
    margin-top: 50px;
    background-image: url('gldn-XSS-Hero-Xbox-Series-S_VP5-1596x600.webp');
    background-size: contain;
    background-repeat: no-repeat;
} */


