.microsoft-logo{
    width: 140px;
}
.nav-item{
    color: #262626;
    font-size: 12px;
}
.nav-item:hover{
    text-decoration: underline;
}
.navbar-toggler img{
    width: 30px;
}

.sec-1-title{
    color: #0067b8;
}
.sec1-img{
    width: 40px;
}
.sec-1-items{
    width: 100%;
}
.shp-img,.shop-items,.item{
    width: 95%;
}
.learn-more{
    font-size: 18px;
    text-decoration: none;
}
.btn-primary{
    text-decoration: none;
    color: white;
}
.learn-more:hover{
   text-decoration: underline;
}
.img-items{
  
    width: 100%;
    height: 100%;
}
.large-img{
    width: 90%;
}
.img-text{
    left: 10%;
}
.image-icons img{
    margin-left: 20px;
}
.items-1{
    list-style: none;
}
.footer-inner-item,.footer-last-line{

    text-decoration: none;
    color: #616161;
    font-size: 11px;
    line-height: 30px;
}
.footer-items{
    margin-top: 2rem;
}
.footer-inner-item:hover,.footer-last-line:hover{
    text-decoration: underline;
    color: #616161;
}



